/* Gillman + Muniz */

body {
		font-family: Helvetica, Arial, sans-serif;
		text-align: center;
		padding: 0 16px;
		margin: 0 auto;
		color: #FFF;
		background-image: linear-gradient(45deg, #4D6084, #7787AA);
		height: 100vh;
	}
	.container {
		max-width: 700px;
		margin: 0 auto;
	}
	.logo {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: 400;
		font-size: 32px;
		margin: 0;
		padding: 64px 0 24px 0;
		letter-spacing: 4px;
	}
	.content {
		padding: 48px 0 80px 0;
		font-size: 16px;
	}
	.content a:link, a:visited {
		padding: 16px 32px;
		color: #FFF;
		text-decoration: none;
		font-weight: 300;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		padding: 8px 0;
	}
	.footer {
		margin: 0;
		padding: 32px 0;
		font-weight: 400;
		font-size: 12px;
		color: #FFF;
	}
	.footer a:link, a:visited {
		text-decoration: none;
		color: #FFF;
		font-weight: 300;
	}
	.stacie {
		float: left;
		text-align: left;
	}
	.stacie li {
		padding: 3px 0;
	}
	.paul {
		text-align: right;
	}
	.paul li {
		padding: 3px 0;
	}